header {
	text-align: center;
	display: block;
	margin-left: auto;
    margin-right: auto;
}

h3 {
	text-align: center;
}

h4 {
	margin-left: 2em;
}

#dataPanel {
	margin: auto;
	width: 50%;
	background: #FAFAFA;
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 1.5em;
}

#individualList {
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 1fr;
	justify-items: stretch;
	row-gap: 0.7em;
}

.groupSize, .functionButton {
	width: 50%;
	margin: auto;
}

#markList {
	width: 90%;
}

#console {
	display: block;
	margin-left: auto;
    margin-right: auto;
	width: 40%;
	height: 50%;
}